In [1]:
import requests
import os
import acquire

In [ ]:
# https://aphorisms.glitch.me returns a random quotation
response = requests.get('http://aphorisms.glitch.me/')
response

In [ ]:
response.ok

In [ ]:
response.status_code

In [ ]:
response.text

In [ ]:
url = 'https://swapi.dev/api/people/5'
response = requests.get(url)
print(response.text)

In [ ]:
data = response.json()
print(type(data))
data

In [ ]:
root_url = 'https://swapi.dev/api/'
response = requests.get(root_url)
print(response)
response.json()

In [ ]:
response = requests.get('https://swapi.dev/api/people/')

data = response.json()
data.keys()

In [ ]:
response = requests.get('https://swapi.dev/api/people/')

data = response.json()
data.values()

In [ ]:
number_of_people = data['count']
next_page = data['next']
previous_page = data['previous']

print(f'number_of_people: {number_of_people}')
print(f'next_page: {next_page}')
print(f'previous_page: {previous_page}')

In [ ]:
data['results'][:2]

In [ ]:
import math

number_of_results = len(data['results'])
max_page = math.ceil(number_of_people / number_of_results)

print(f'number_of_results: {number_of_results}')
print(f'max_page: {max_page}')

In [ ]:
import pandas as pd

df = pd.DataFrame(data['results'])
df.head()

In [ ]:
df.shape

In [ ]:
response = requests.get(data['next'])
data = response.json()

number_of_people = data['count']
next_page = data['next']
previous_page = data['previous']
number_of_results = len(data['results'])
max_page = math.ceil(number_of_people / number_of_results)

print(f'number_of_people: {number_of_people}')
print(f'next_page: {next_page}')
print(f'previous_page: {previous_page}')
print(f'number_of_results: {number_of_results}')
print(f'max_page: {max_page}')

df = pd.concat([df, pd.DataFrame(data['results'])]).reset_index()

In [ ]:
response = requests.get(data['next'])
data = response.json()

number_of_people = data['count']
next_page = data['next']
previous_page = data['previous']
number_of_results = len(data['results'])
max_page = math.ceil(number_of_people / number_of_results)

print(f'number_of_people: {number_of_people}')
print(f'next_page: {next_page}')
print(f'previous_page: {previous_page}')
print(f'number_of_results: {number_of_results}')
print(f'max_page: {max_page}')

df = pd.concat([df, pd.DataFrame(data['results'])]).reset_index()

In [ ]:
df.shape

In [ ]:
url = 'https://swapi.dev/api/people/?page=9'
response = requests.get(url)
data = response.json()

number_of_people = data['count']
next_page = data['next']
previous_page = data['previous']
number_of_results = len(data['results'])

print(f'number_of_people: {number_of_people}')
print(f'next_page: {next_page}')
print(f'previous_page: {previous_page}')
print(f'number_of_results: {number_of_results}')

In [ ]:
response = requests.get('https://swapi.dev/api/people/')

data = response.json()

In [ ]:
data

In [ ]:
import pandas as pd

df = pd.DataFrame(data['results'])
df.head()

In [ ]:
import requests
import pandas as pd

def fetch_data(url):
    data = []

    while url:
        response = requests.get(url)
        json_data = response.json()
        data.extend(json_data["results"])
        url = json_data["next"]

    return data

def create_people_dataframe():
    base_url = "https://swapi.dev/api/"
    people_url = f"{base_url}people/"

    people_data = fetch_data(people_url)
    people_df = pd.DataFrame(people_data)

    return people_df

# Call the function to create the people dataframe
people_df = create_people_dataframe()

# Print the first few rows of the dataframe
print(people_df.head())

In [ ]:
people_df

In [ ]:
people_df.to_csv('people.csv', index=False)

In [ ]:
people_df

In [ ]:
import requests
import pandas as pd

def fetch_data(url):
    data = []

    while url:
        response = requests.get(url)
        json_data = response.json()
        data.extend(json_data["results"])
        url = json_data["next"]

    return data

def create_planets_dataframe():
    base_url = "https://swapi.dev/api/"
    planets_url = f"{base_url}planets/"

    planets_data = fetch_data(planets_url)
    planets_df = pd.DataFrame(planets_data)

    return planets_df

# Call the function to create the people dataframe
planets_df = create_planets_dataframe()
# Print the first few rows of the dataframe
print(planets_df.head())
planets_df.to_csv('planets.csv', index=False)

In [ ]:
planets_df.to_csv('planets.csv', index=False)

In [ ]:
# Call the function to create the people dataframe
planets_df

In [ ]:
import requests
import pandas as pd

def fetch_data(url):
    data = []

    while url:
        response = requests.get(url)
        json_data = response.json()
        data.extend(json_data["results"])
        url = json_data["next"]

    return data

def create_starships_dataframe():
    base_url = "https://swapi.dev/api/"
    starships_url = f"{base_url}starships/"

    starships_data = fetch_data(starships_url)
    starships_df = pd.DataFrame(starships_data)
    starships_df.to_csv('starships.csv', index=False)
    return starships_df

# Call the function to create the people dataframe
starships_df = create_starships_dataframe()
# Print the first few rows of the dataframe
print(starships_df.head())

In [ ]:
starships_df.to_csv('starships.csv', index=False)

In [ ]:
starships_df

In [ ]:
starwars_df = pd.concat([people_df, planets_df, starships_df], ignore_index=True)

# Print the combined dataframe
print(starwars_df)

In [ ]:
starwars_df

In [ ]:
import requests
import pandas as pd

def grab_csv_data(api_url, output_file):
    response = requests.get(api_url)

    if response.status_code == 200:
        csv_data = response.text
        with open(output_file, 'w') as f:
            f.write(csv_data)
        print(f"CSV data saved to {output_file}")
    else:
        print(f"Request failed with status code {response.status_code}")

# Example usage:
api_url = "https://raw.githubusercontent.com/jenfly/opsd/master/opsd_germany_daily.csv"
output_file = "opsd_germany_daily.csv"

grab_csv_data(api_url, output_file)

In [ ]:
opsd = pd.read_csv('opsd_germany_daily.csv')

In [ ]:
opsd

In [ ]:
df = acquire.create_planets_dataframe()

In [ ]:
df

In [ ]:
df1 = acquire.create_people_dataframe()

In [ ]:
df1

In [ ]:
df2 = acquire.create_starships_dataframe()

In [ ]:
df2

In [2]:
df3 = acquire.grab_csv_data("https://raw.githubusercontent.com/jenfly/opsd/master/opsd_germany_daily.csv", "test.csv")

In [3]:
df3

            Date  Consumption     Wind   Solar  Wind+Solar
0     2006-01-01   1069.18400      NaN     NaN         NaN
1     2006-01-02   1380.52100      NaN     NaN         NaN
2     2006-01-03   1442.53300      NaN     NaN         NaN
3     2006-01-04   1457.21700      NaN     NaN         NaN
4     2006-01-05   1477.13100      NaN     NaN         NaN
...          ...          ...      ...     ...         ...
4378  2017-12-27   1263.94091  394.507  16.530     411.037
4379  2017-12-28   1299.86398  506.424  14.162     520.586
4380  2017-12-29   1295.08753  584.277  29.854     614.131
4381  2017-12-30   1215.44897  721.247   7.467     728.714
4382  2017-12-31   1107.11488  721.176  19.980     741.156

[4383 rows x 5 columns]

In [ ]:
df = grab_csv_data(api_url, output_file)